<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url_Shinker</title>
</head>
<body>
    <div class="container">


        <h1>URL Shrinker</h1>

        <form action="/shorturls" method="POST" class="my-3 form-inline">
            <label for="Fullurl" class="sr-only">Full URL</label>
            <input required="url" type="url" name="Fullurl" id="fullrul">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>


    </div>
</body>

</html>